datamining/correlation/correlation_*time
datamining/covariance/covariance_*time
linear-algebra/kernels/2mm/2mm_*time
linear-algebra/kernels/3mm/3mm_*time
linear-algebra/kernels/atax/atax_*time
linear-algebra/kernels/bicg/bicg_*time
linear-algebra/kernels/cholesky/cholesky_*time
linear-algebra/kernels/doitgen/doitgen_*time
linear-algebra/kernels/gemm/gemm_*time
linear-algebra/kernels/gemver/gemver_*time
linear-algebra/kernels/gesummv/gesummv_*time
linear-algebra/kernels/mvt/mvt_*time
linear-algebra/kernels/symm/symm_*time
linear-algebra/kernels/syr2k/syr2k_*time
linear-algebra/kernels/syrk/syrk_*time
linear-algebra/kernels/trisolv/trisolv_*time
linear-algebra/kernels/trmm/trmm_*time
linear-algebra/solvers/durbin/durbin_*time
linear-algebra/solvers/dynprog/dynprog_*time
linear-algebra/solvers/gramschmidt/gramschmidt_*time
linear-algebra/solvers/lu/lu_*time
linear-algebra/solvers/ludcmp/ludcmp_*time
medley/floyd-warshall/floyd-warshall_*time
medley/reg_detect/reg_detect_*time
stencils/adi/adi_*time
stencils/fdtd-2d/fdtd-2d_*time
stencils/fdtd-apml/fdtd-apml_*time
stencils/jacobi-1d-imper/jacobi-1d-imper_*time
stencils/jacobi-2d-imper/jacobi-2d-imper_*time
stencils/seidel-2d/seidel-2d_*time
.ipynb_checkpoints/
